.fixed-top-2 {
    margin-top: 56px;
}

.nav-item:hover{
    background-color: rgb(0, 70, 94);
}

.contenido-carousel{
    background-color: rgba(0, 70, 94, 1);
    opacity: .7;
}

.carousel-caption {
    right: 10%;
    text-align: right;
    max-width: 400px;
    left: auto;
    padding:5px;
}
.color-p{
    background-color: rgb(0, 70, 94);
}

.color-l-p{
    color: rgb(62, 187, 196);
}

.color-s{
    background-color: rgba(0, 70, 94, 0.1);
}

.card{
    background-color: rgba(255, 255, 255, 0.4);
}

.esp-bloq {
    height: 5rem;
}

.card{
    border: 1px solid rgba(255, 255, 255, 1);
}

.contorno{
    border: 1px solid rgba(0,0,0,.125); 
}

@media (max-width: 575.98px) {
    body{
        margin-top: 72px;
    }
 }


@media (min-width: 576px) and (max-width: 767.98px) {
    body{
        margin-top: 72px;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    body{
        margin-top: 162px;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    body{
        margin-top: 135px;
    }
}


@media (min-width: 1200px) {
    body{
        margin-top: 156px;
    }
}

figcaption{
    position: absolute;
    right: 0;
    bottom: 50%;
    color: #fff;
    font-size: 13px;
    padding: 2px 9px;
    background-color:  rgb(0, 70, 94);
}

h2 {
    overflow: hidden;
    text-align: center;
  }
  
  h2:before,
  h2:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  h2:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  h2:after {
    left: 0.5em;
    margin-right: -50%;
  }

  #scroll-top {
    /*display: none;*/
    position: fixed;
    right: 30px;
    bottom: 40px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    background-color: #4dc7ec;
    z-index: 9999;
    transition: all 0.25s ease-in-out;
  }
  #scroll-top:hover {
    background-color: #37b3d9;
  }

  

