.navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute !important;
}

.nav-item:hover{
    background-color: rgb(0, 70, 94);
}

.contenido-carousel{
    background-color: rgba(0, 70, 94, 1);
    opacity: .7;
}

.carousel-caption {
    right: 5%;
    text-align: right;
    max-width: 300px;
    left: auto;
    padding:5px;
}
.color-p{
    background-color: rgb(0, 70, 94);
}

.esp-bloq {
    height: 5rem;
}

.card{
    border: 1px solid rgba(255, 255, 255, 1);
}

.contorno{
    border: 1px solid rgba(0,0,0,.125); 
}



